Source: ros-groovy-ecto-pcl
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>, Ethan Rublee <erublee@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev, ros-groovy-catkin, ros-groovy-ecto, ros-groovy-ecto-ros, ros-groovy-pcl, ros-groovy-roscpp
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-groovy-ecto-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev, ros-groovy-ecto, ros-groovy-ecto-ros, ros-groovy-pcl, ros-groovy-roscpp
Description: Ecto bindings for common PCL functionality.
