Source: ros-fuerte-ecto-pcl
Section: misc
Priority: extra
Maintainer: Ethan Rublee <erublee@willowgarage.com>, Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, ros-fuerte-catkin, ros-fuerte-ecto, ros-fuerte-ecto-ros, ros-fuerte-pcl
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-fuerte-ecto-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-fuerte-ecto, ros-fuerte-ecto-ros, ros-fuerte-pcl
Description: Ecto bindings for common PCL functionality.
