Source: ros-hydro-ecto-pcl
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>, Ethan Rublee <erublee@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, ros-hydro-catkin, ros-hydro-ecto, ros-hydro-ecto-ros, ros-hydro-pcl, ros-hydro-roscpp
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-hydro-ecto-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-hydro-ecto, ros-hydro-ecto-ros, ros-hydro-pcl, ros-hydro-roscpp
Description: Ecto bindings for common PCL functionality.
